<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>논쟁 게시판</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/debatePost.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap" rel="stylesheet">
    <script defer th:src="@{/js/main.js}"></script>
    <script defer th:src="@{/js/debatepost.js}"></script>

    <script>
        function redirectToDetail(debatePostNo) {
            window.location.href = '/debatePost/detailDebatePost/' + debatePostNo;
        }
    </script>
</head>
<body>
<header th:replace="~{/fragments/header :: header}">
</header>

<div class="container">
    <h1 class="title">논쟁 게시판</h1>

    <div>
        <div class="tabs">
            <button class="tab1" th:onclick="|location.href='@{/post/postList}'|">일반 게시판</button>
            <button class="tab2" onclick="openTab(event, 'announcements')">공지사항</button> <!-- 공지 사항 주소 추가해야 됨-->
            <button class="tab3" th:onclick="|location.href='@{/debatePost/createDebatePost}'|">✏글쓰기</button>
            <form action="/debatePost/debatePostList" method="get" style="display:inline;">
                <input class="tab4" id="searchInput" name="search" placeholder="검색어를 입력하세요" value="">
                <button class="search-button" type="submit">검색</button>
            </form>

        </div>
    </div>

    <table>
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>작성일</th>
            <th>조회수</th>
        </tr>
        <tr th:each=" debatePost : ${ debatePostList }" th:onclick="|redirectToDetail(${debatePost.debatePostNo})|">
            <td th:text="${ debatePost.debatePostNo }"></td>
            <td th:text="${ debatePost.debatePostTitle }"></td>
            <td th:text="${ debatePost.member.name }"></td>
            <td th:text="${ debatePost.debatePostDate }"></td>
            <td th:text="${ debatePost.debatePostCount }"></td>
        </tr>

    </table>

    <div class="paging">
        <!-- 맨 앞으로 이동 -->
        <button th:onclick="'location.href=\'/debatePost/debatePostList?page=' + ${ paging.startPage } + '\''"><<</button>

        <!-- 이전 페이지로 이동 -->
        <button th:onclick="'location.href=\'/debatePost/debatePostList?page=' + ${ paging.currentPage - 1} + '\''"
                th:disabled="${ debatePostList.first }"><</button>

        <!-- 숫자 버튼 -->
        <th:block th:each="page: ${ #numbers.sequence(paging.startPage, paging.endPage)}">
            <button th:onclick="'location.href=\'/debatePost/debatePostList?page=' + @{${page}} + '\''"
                    th:text="${page}"
                    th:disabled="${ paging.currentPage eq page }">
            </button>
        </th:block>

        <!-- 다음 페이지로 이동 -->
        <button th:onclick="'location.href=\'/debatePost/debatePostList?page=' + ${ paging.currentPage + 1} + '\''"
                th:disabled="${ debatePostList.last }">>
        </button>
        <!-- 맨 뒤로 이동 -->
        <button th:onclick="'location.href=\'/debatePost/debatePostList?page=' + ${ paging.endPage } + '\''">
            >>
        </button>

    </div>

</div>

</body>
</html>
