<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>음식 게시판 글쓰기</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap" rel="stylesheet">
    <script defer th:src="@{/js/main.js}"></script>
</head>
<body>
    <div><header th:replace="~{/fragments/header :: header}"></header></div>

<h1>음식 게시판 글쓰기</h1>

<form th:action="@{/templates/layout/post/debatePost/create}" method="post">
    <div>
        <label for="postTitle">Title:</label>
        <input type="text" id="postTitle" name="postTitle" required>
    </div>

    <div>
        <label for="content">Content:</label>
        <input type="text" id="content" name="content" required>
    </div>

    <button type="submit">임시저장</button>
    <button type="submit">저장</button>
</form>
</body>
</html>