<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>일반 게시판 상세 페이지</title>
</head>
<body>

<button type="button" th:onclick="|location.href='@{/post/modifyPost/{postNo}(postNo=${post.postNo})}'|">수정</button>

<div>
    <h2 th:text ="${ post.postTitle}">제목</h2>
    <p th:text="${post.createdDate}">등록 날짜</p>
<!--    <p th:text="${post.modifyDate}">수정 날짜</p>-->
<!--    <p th:text="${#dates.format(post.createdDate, 'yyyy-MM-dd HH:mm:ss')}"></p>-->
    <p>작성자 : <span th:text="${post.member.name}">작성자명</span></p>
    <p th:text="${post.content}">내용</p>
</div>

<a href="/post/postList">목록으로 돌아가기</a>
</body>
</html>