<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>일반 게시판</title>
</head>
<body style="background-color: #e3e17b">
    <h1>음식 게시판</h1>
    <button type="button" th:onclick="|location.href='@{/post/createPost}'|">글쓰기</button>


    <table>
        <tr>
            <th>글번호</th>
            <th>글제목</th>
            <th>글쓴날짜</th>
            <th>글작성자</th>
        </tr>
        <tr th:each="post : ${ postList }">
            <td th:text="${ post.postNo }"></td>
            <td th:text="${ post.postTitle }"></td>
            <td th:text="${ post.postDate }"></td>
            <td th:text="${ post.member.name }"></td>
        </tr>
    </table>
    <div id="paging">
        <!-- 맨 앞으로 이동 -->
        <button th:onclick="'location.href=\'/post/postList?page=' + ${ paging.startPage } + '\''"><<</button>
        <!-- 이전 페이지로 이동 -->
        <button th:onclick="'location.href=\'/post/postList?page=' + ${ paging.currentPage - 1} + '\''"
                th:disabled="${ postList.first }"><</button>

        <!-- 숫자 버튼 -->
        <th:block th:each="page: ${ #numbers.sequence(paging.startPage, paging.endPage)}">
            <button th:onclick="'location.href=\'/post/postList?page=' + @{${page}} + '\''"
                    th:text="${page}"
                    th:disabled="${ paging.currentPage eq page }">
            </button>
        </th:block>

        <!-- 다음 페이지로 이동 -->
        <button th:onclick="'location.href=\'/post/postList?page=' + ${ paging.currentPage + 1} + '\''"
                th:disabled="${ postList.last }">>
        </button>
        <!-- 맨 뒤로 이동 -->
        <button th:onclick="'location.href=\'/post/postList?page=' + ${ paging.endPage } + '\''">
            >>
        </button>

    </div>


</body>
</html>