<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>일반 게시판</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/post.css}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap" rel="stylesheet">

</head>

<header th:replace="~{/fragments/header :: header}">
</header>

<body style="background-color: #fdcf30">
    <h1>음식 게시판</h1>
    <button type="button" th:onclick="|location.href='@{/post/createPost}'|">글쓰기</button>
    <button class="tab" th:onclick="|location.href='@{/debatePost/debatePostList}'|">논쟁 게시판</button>

    <form action="/post/postList" method="get" style="display:inline;">
        <input class="tab4" id="searchInput" name="search" placeholder="검색어를 입력하세요"
               th:value="${searchTerm != null ? searchTerm : ''}">
        <select name="searchType">
            <option value="postTitle" th:selected="${searchType == 'postTitle'}">제목</option>
            <option value="content" th:selected="${searchType == 'content'}">내용</option>
            <option value="both" th:selected="${searchType == 'both'}">제목+내용</option>
        </select>
        <button class="search-button" type="submit">검색</button>
    </form>

    <script>
        function performSearch() {
            const searchQuery = document.getElementById('searchInput').value;
            // 검색어가 비어있지 않은 경우에만 요청
            if (searchQuery.trim() !== "") {
                window.location.href = '/post/postList?search=' + encodeURIComponent(searchQuery);
            } else {
                alert("검색어를 입력하세요.");
            }
        }
    </script>

<div class="listName">
    <p>글번호</p>
    <p>글제목</p>
    <p>글쓴날짜</p>
    <p>글작성자</p>
    <p>조회수</p>
</div>

<div class="list" th:each="post : ${ postList } " th:onclick="|location.href='@{/post/detailPost/{postNo}(postNo=${post.postNo})}'|">
    <p th:text="${ post.postNo } "></p>
    <p th:text="${ post.postTitle } "></p>
    <p th:text="${ post.createdDate }"></p>
    <p th:text="${ post.member.name }"></p>
    <p th:text="${ post.postCount}"></p>
</div>

<div id="paging">
    <!-- 맨 앞으로 이동 -->
    <button th:onclick="'location.href=\'/post/postList?page=' + ${ paging.startPage } + '\''"><<</button>
    <!-- 이전 페이지로 이동 -->
    <button th:onclick="'location.href=\'/post/postList?page=' + ${ paging.currentPage - 1} + '\''"
            th:disabled="${ postList.first }"><</button>

    <!-- 숫자 버튼 -->
    <th:block th:each="page: ${ #numbers.sequence(paging.startPage, paging.endPage)}">
        <button th:onclick="'location.href=\'/post/postList?page=' + @{${page}} + '\''"
                th:text="${page}"
                th:disabled="${ paging.currentPage eq page }">
        </button>
    </th:block>

    <!-- 다음 페이지로 이동 -->
    <button th:onclick="'location.href=\'/post/postList?page=' + ${ paging.currentPage + 1} + '\''"
            th:disabled="${ postList.last }">>
    </button>
    <!-- 맨 뒤로 이동 -->
    <button th:onclick="'location.href=\'/post/postList?page=' + ${ paging.endPage } + '\''">
        >>
    </button>

</div>


</body>
</html>