spring:
  application:
    name: food_voting_board
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/boarddb
    username: ohgiraffers
    password: ohgiraffers

  # JPA
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
#  jpa:
#    generate-ddl: false
#    show-sql: true
#    database: mysql
#    properties:
#      hibernate:
#        '[format_sql]': true


# 이미지 파일 저장 경로 설정
file:
  upload-dir: uploads/  # 원하는 경로로 수정 가능

  # Email
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${EMAIL_USER}
    password: ${EMAIL_PW}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
#          connectiontimeout: 5000
#          timeout: 5000
#          writetimeout: 5000
#    auth-code-expiration-millis: 1800000   # 30분

  # Redis
#  data:
#    redis:
#      host: localhost
#      port: 6379


logging:
  level:
    root: info