<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <title>음식게시판</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap" rel="stylesheet">
</head>
<body>
<header th:replace="~{/fragments/header :: header}">
</header>

<main class="main">
    <h2>메인!!</h2>
</main>
<div>
    <button type="button" th:onclick="|location.href='@{/post/postList}'|">일반 게시판</button>


</div>
</body>
</html>

