<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">

<body>
<header th:fragment="header">
    <div id="menubar" onclick="toggleSidebar()">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>
    <div id="logo">
        <h1><a id="logo_text" th:href="@{/}">Jjikmukpa</a></h1>
    </div>
    <div id="login_menu">
        <div>
            <a class="login_menu1" sec:authorize="isAnonymous()" th:href="@{/auth/login}">로그인</a>
            <span sec:authorize="isAnonymous()"> | </span>
            <a class="login_menu2" sec:authorize="isAnonymous()" th:href="@{/member/register}">회원가입</a>
        </div>
        <div sec:authorize="isAuthenticated()" class="logout">
            <a id="login_Success" sec:authorize="isAuthenticated()">[[| &apos; ${#authentication.principal.member.memberId} &apos; 님 환영합니다!  |]]</a>
            <span sec:authorize="isAuthenticated()">&nbsp;|&nbsp;</span>
                <form th:action="@{/auth/logout}" method="post" style="margin: 0;">
                    <button id="logout_button">로그아웃</button>
                </form>
        </div>

<!--        <div sec:authorize="isAuthenticated()">-->
<!--            <a th:href="@{/post/post}">User</a>-->
<!--        </div>-->
<!--        <div sec:authorize="hasRole('ADMIN')">-->
<!--            <a th:href="@{/admin/admin}">Admin</a>-->
<!--        </div>-->
    </div>
    <div id="sidebar">
        <div  id="closeSidebar">&times;</div>
        <ul class="text_sidebar">
            <li><a th:href='@{/post/postList}'>음식 게시판</a></li>
            <li><a href="#2">논쟁 게시판</a></li>
            <li><a id="my_page">마이페이지</a>
                <ul class="submenu">
                    <li><a href="#3">나의 정보</a></li>
                    <li><a href="#4">내 게시글</a></li>
                    <li><a href="#5">내 임시 저장 글</a></li>
                    <li><a href="#6">내 댓글</a></li>
                    <li><a href="#7">내 추천</a></li>
                </ul>
            </li>
        </ul>
    </div>
</header>
<script>
    function toggleSidebar() {
        var sidebar = document.getElementById('sidebar');
        if (sidebar.style.left === '-250px') {
            sidebar.style.left = '0';
        } else {
            sidebar.style.left = '-250px';
        }
    }

    document.getElementById('closeSidebar').onclick = function() {
        document.getElementById('sidebar').style.left = '-250px';
    };
</script>
</body>