
.container{
    margin-left: 5%;
    margin-right: 5%;
}

.tabs{
    display: flex;

}

.tab3{
    justify-content: flex-end;
    margin-left: 80%;
}

.tab4{
    justify-content: flex-end;
}

table {
    width: 100%; /* 테이블이 부모 요소의 전체 너비를 차지하도록 설정 */
    border-collapse: collapse; /* 셀 간의 간격 제거 */
}

.paging{
    margin-top:10px;
    display: flex; /* 플렉스 박스 활성화 */
    justify-content: center; /* 중앙 정렬 */
}


th, td {
    padding: 10px; /* 셀 내부 여백 */
    border: 1px solid #ccc; /* 셀 테두리 */
    text-align: center; /* 텍스트 정렬 */
}

th {
    background-color: #f9ed89; /* 헤더 배경색 */
}

td {
    background-color: #fff; /* 셀 배경색 */
}


