<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 변경</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/changePW.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap" rel="stylesheet">
    <script defer th:src="@{/js/main.js}"></script>
    <script defer th:src="@{/js/changePw.js}"></script>
</head>
<body>
    <div class="header-container">
        <header th:replace="~{/fragments/header :: header}"></header>
    </div>

    <div class="content-container">
    <main class="changePw-container">
        <div class="changePw-div">
            <form id="changePwForm" th:action="@{/member/changePw}" th:method="post">
                <span>비밀번호 변경</span>
            <div>
                <p>안전한 비밀번호로 내정보를 보호하세요.<br>
                    다른 아이디/사이트에서 사용한 적 없는 비밀번호, 이전에 사용한 적 없는 비밀번호가 안전합니다.<br></p>
            </div>
                <div>
                    <a>현재 비밀번호 <input type="password" id="nowPw" name="nowPw" placeholder="현재 비밀번호를 입력하세요" required></a>
                    <span id="nowPwError" class="error-message" style="color:red;display:none;"></span>
                </div>
                <div>
                    <a>변경할 비밀번호 <input type="password" id="afterPw" name="afterPw" placeholder="변경할 비밀번호를 입력하세요" required></a>
                    <span id="afterPwError" class="error-message" style="color:red;display:none;">현재 비밀번호와 일치합니다 다른 비밀번호를 입력해주세요</span>
                    <span id="afterPwInvalid" class="error-message" style="color:red;display:none;">영문자, 특수문자 포함 10자 이상으로 만들어 주세요.</span>
                </div>
                <div>
                    <a>변경할 비밀번호 확인 <input type="password" id="afterPwC" name="afterPwC" placeholder="변경할 비밀번호를 한 번 더 입력하세요" required></a>
                </div>
                <div class="mypage_menu1">
                    <a th:href="@{/member/info}">뒤로가기</a><br>
                </div>
                <button class="changePwText" type="submit" id="saveBtn" disabled>확인</button>
            </form>
        </div>
    </main>
    </div>
</body>
</html>