<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>아이디 찾기</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/findId.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap" rel="stylesheet">
    <script defer th:src="@{/js/main.js}"></script>
</head>
<body style="background-color: #fdcf30;">
    <header th:replace="~{/fragments/header :: header}"></header>
    <main class="find-id-container">
        <h1>아이디 찾기</h1><br>
        <div>
            <form id="findIdUsingEmailForm" th:action="@{/member/findIdUsingEmail}" th:method="post">
                <input type="radio"><br>

                <button id="loginBtn" type="submit" disabled>다음</button>
            </form>


        </div>
    </main>
</body>
</html>