<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
    <script defer th:src="@{/js/main.js}"></script>
    <style>
        .datepicker {
            background-color: #f0f0f0;

            /* datepicker가 다른 요소 위에 나타나게끔 */
            z-index: 1050 !important;
        }

        /* 헤더(year, month) 배경 색상 */
        .datepicker-days thead th {
            background-color: #d0d0d0;
        }

        /* 일 배경 색상 */
        .datepicker-days tbody td {
            background-color: #ffffff;
        }

        /* 날짜 드롭다운 input text 바로 아래 위치하게 하기 */
        .datepicker-dropdown {
            margin-top: 0;
        }
    </style>
</head>
<body style="background-color: #e3e17b">
    <header th:replace="~{/fragments/header :: header}"></header>

    <h1>회원가입</h1>

    <form id="signupForm" th:action="@{/member/register}" th:method="post">
        <div>
            <label for="memberId">아이디 : </label>
            <input type="text" name="memberId" id="memberId" required placeholder="아이디 입력 (20자 이내)" maxlength="20">
            <button type="button" id="checkIdBtn">중복 확인</button><br>
            <p id="messageId" hidden></p>

            <label for="memberPw">비밀번호 : </label>
            <input type="password" name="memberPw" id="memberPw" required maxlength="20" placeholder="8자 이상 20자 이내로 입력"><br>
            <p id="messagePw" hidden></p>

            <label for="name">이름 : </label>
            <input type="text" name="name" id="name" required placeholder="이름 입력"><br>

            <label for="nickname">닉네임 : </label>
            <input type="text" name="nickname" id="nickname" placeholder="입력하지 않으시면 id와 동일하게 설정됩니다.">
            <button type="button" id="checkNicknameBtn" hidden>중복 확인</button><br>
            <p id="messageNickname" hidden></p>

            <label for="dateOfBirth">생년월일 : </label>
<!--            <input type="text" name="dateOfBirth" id="dateOfBirth" required placeholder="yyyyMMdd" maxlength="8"><br>-->
            <input type="text" name="dateOfBirth" id="dateOfBirth" required><br>
            <p id="messageDob" hidden></p>

            <label for="email">이메일 : </label>
            <input type="text" name="email" id="email" required placeholder="이메일 입력"><br>
            <p id="messageEmail" hidden></p>

            <label for="phone">핸드폰 번호 : </label>
            <input type="text" name="phone" id="phone" required maxlength="13" placeholder="번호만 입력하세요."><br>
            <p id="messagePhone" hidden></p>

            <label for="address">주소 : </label>
            <input type="text" name="address" id="address" required placeholder="주소 입력"><br>

            <button type="button" id="signupBtn" disabled>가입하기</button>
        </div>
    </form>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>

    <script type="text/javascript">
        function getTodaysDate() {
            const today = new Date();
            const year = today.getFullYear();
            const month = String(today.getMonth() + 1).padStart(2, '0'); // Months are zero-based
            const day = String(today.getDate()).padStart(2, '0');
            return `${year}-${month}-${day}`;
        }

        $(document).ready(function() {
            const today = getTodaysDate();

            $('#dateOfBirth').datepicker({
                format: "yyyy-mm-dd",
                autoclose: true,    // 날짜 선택하면 datepicker 닫기
                todayHighlight: true,
                startDate: '1900-01-01',
                endDate: today,
                defaultViewDate: { year: 2000, month: 0}
            }).on('show', function(e) {
                setTimeout(function() {
                    $('.datepicker').css({
                        // 날짜 드롭다운 input text 바로 아래 위치하게 하기
                        'position': 'absolute',
                        'top': $('#dateOfBirth').offset().top + $('#dateOfBirth').outerHeight(),
                        'left': $('#dateOfBirth').offset().left
                    });
                },100);
            });
        });
    </script>

    <script>
        /* TODO: 1. 번호, 이메일 인증
                 2. 실제 존재하는 주소 선택
                 3. oauth2 회원가입
                 */

        let idValid = false;
        let nicknameValid = false;

        let nick = document.getElementById('nickname').value;
        if (nick.trim() === '') {
            nicknameValid = true;
            updateSignupButtonState();
        }

        // id 중복되는지 확인
        document.getElementById('checkIdBtn').addEventListener('click', function() {
            const memberId = document.getElementById('memberId').value;

            if (memberId.trim() === '') {
                alert("아이디를 입력해주세요.");
                return;
            }

            fetch(`/member/checkid?memberId=${encodeURIComponent(memberId)}`)
                .then(res => {
                    if (!res.ok) {
                        throw new Error('===== Network error =====');
                    }

                    return res.json();
                })
                .then(data => {
                    if (data.exists) {
                        document.getElementById('messageId').textContent = "이미 사용중인 아이디입니다.";
                        document.getElementById('messageId').style.color = 'red';
                        document.getElementById('messageId').removeAttribute("hidden");
                        idValid = false;
                    } else {
                        document.getElementById('messageId').textContent = "사용 가능한 아이디입니다.";
                        document.getElementById('messageId').style.color = 'green';
                        document.getElementById('messageId').removeAttribute("hidden");
                        idValid = true;
                    }
                    updateSignupButtonState();
                })
                .catch(error => console.error('Error:', error));
        });

        document.getElementById('memberId').addEventListener('input', function() {
            if (idValid) {  // 이미 중복확인 버튼을 누른 상황에서 다시 바꾸면 다시 중복확인 필요
                idValid = false;
            }

            updateSignupButtonState();
        });

        // nickname 중복되는지 확인
        document.getElementById('nickname').addEventListener('input', function() {
            nicknameValid = false;  // 이미 중복확인 버튼을 누른 상황에서 다시 바꾸면 다시 중복확인 필요

            let nickname = document.getElementById('nickname').value;
            document.getElementById('checkNicknameBtn').removeAttribute("hidden");

            if (nickname.trim() === '') {
                document.getElementById('messageNickname').setAttribute("hidden", "");
                document.getElementById('checkNicknameBtn').setAttribute("hidden", "");
                nicknameValid = true;
            } else {
                nicknameValid = false;
            }

            updateSignupButtonState();
        });

        document.getElementById('checkNicknameBtn').addEventListener('click', function() {
            let nickname = document.getElementById('nickname').value;
            const memberId = document.getElementById('memberId').value; // Get the memberId value

            if (nickname.trim() === '') {
                nickname = memberId;
                document.getElementById('nickname').value = nickname;
            } else {
                fetch(`/member/checknickname?nickname=${encodeURIComponent(nickname)}`)
                    .then(res => {
                        if (!res.ok) {
                            throw new Error('===== Network error =====');
                        }

                        return res.json();
                    })
                    .then(data => {
                        if (data.exists) {
                            document.getElementById('messageNickname').textContent = "중복되는 닉네임입니다.";
                            document.getElementById('messageNickname').style.color = 'red';
                            document.getElementById('messageNickname').removeAttribute("hidden");

                            nicknameValid = false;
                        } else {
                            document.getElementById('messageNickname').textContent = "사용 가능한 닉네임입니다.";
                            document.getElementById('messageNickname').style.color = 'green';
                            document.getElementById('messageNickname').removeAttribute("hidden");

                            nicknameValid = true;
                        }
                        updateSignupButtonState();
                    })
                    .catch(error => console.error('Error:', error));
            }
        });

        function updateSignupButtonState() {
            const inputs = document.querySelectorAll('#signupForm input:not(#nickname)');
            let allFilled = Array.from(inputs).every(input => input.value.trim() !== '');

            document.getElementById('signupBtn').disabled = !(allFilled && idValid && nicknameValid);
        }

        const inputs = document.querySelectorAll('#signupForm input:not(#nickname)');
        inputs.forEach(function(input) {
            input.addEventListener('input', updateSignupButtonState);
        });

        // 생년월일은 숫자만 입력 가능
        document.getElementById('dateOfBirth').addEventListener('input', function() {
            this.value = this.value.replace(/[^0-9]/g, '');
        });

        // 핸드폰 번호 입력 시 '-' 추가, 숫자만 입력 가능
        document.getElementById('phone').addEventListener('input', function() {
            let phone = this.value.replace(/[^0-9]/g, '');
            if (phone.length > 11) {
                phone = phone.slice(0, 11);
            }

            if (phone.length < 4) {
                this.value = phone;
            } else if (phone.length < 8) {
                this.value = phone.slice(0, 3) + '-' + phone.slice(3);
            } else {
                this.value = phone.slice(0, 3) + '-' + phone.slice(3, 7) + '-' + phone.slice(7);
            }
        });

        updateSignupButtonState();

        // 비밀번호, 핸드폰 번호, 이메일, 생년월일 regex 확인
        // document.getElementById('signupForm').addEventListener('submit', function(event) {
        document.getElementById('signupBtn').addEventListener('click', function(event) {
            const password = document.getElementById('memberPw').value;
            const email = document.getElementById('email').value;
            const dateOfBirth = document.getElementById('dateOfBirth').value;
            const phone = document.getElementById('phone').value;

            const memberId = document.getElementById('memberId').value; // Get the memberId value
            let nickname = document.getElementById('nickname').value;

            const regexPw = /^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$/;
            const regexEmail = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
            const regexDob = /^(19|20)\d{2}-(0[1-9]|1[0-2])-(0[1-9]|[12][0-9]|3[01])$/;
            const regexPhone = /^\d{3}-\d{4}-\d{4}$/;

            if (!regexPw.test(password)) {
                // event.preventDefault();

                document.getElementById('messagePw').textContent = "* 비밀번호는 최소 8자 이상이어야 하며, 적어도 하나의 문자, 숫자 및 특수 문자를 포함해야 합니다.";
                document.getElementById('messagePw').style.color = 'red';
                document.getElementById('messagePw').removeAttribute("hidden");
            } else {
                document.getElementById('messagePw').setAttribute("hidden", "");
            }

            if (!regexEmail.test(email)) {
                // event.preventDefault();

                document.getElementById('messageEmail').textContent = "* 이메일 형식이 맞지 않습니다.";
                document.getElementById('messageEmail').style.color = 'red';
                document.getElementById('messageEmail').removeAttribute("hidden");
            } else {
                document.getElementById('messageEmail').setAttribute("hidden", "");
            }

            if (!regexDob.test(dateOfBirth)) {
                // event.preventDefault();

                document.getElementById('messageDob').textContent = "* 생년월일 형식에 맞지 않습니다.";
                document.getElementById('messageDob').style.color = 'red';
                document.getElementById('messageDob').removeAttribute("hidden");
            } else {
                document.getElementById('messageDob').setAttribute("hidden", "");
            }

            if (!regexPhone.test(phone)) {
                // event.preventDefault();

                document.getElementById('messagePhone').textContent = "* 전화번호 형식에 맞지 않습니다.";
                document.getElementById('messagePhone').style.color = 'red';
                document.getElementById('messagePhone').removeAttribute("hidden");
            } else {
                document.getElementById('messagePhone').setAttribute("hidden", "");
            }

            // nickname이 비어있으면 id와 같게 설정
            if (nickname.trim() === '') {

                nickname = memberId;
                document.getElementById('nickname').value = nickname;

                fetch(`/member/checknickname?nickname=${encodeURIComponent(nickname)}`)
                    .then(res => {
                        if (!res.ok) {
                            throw new Error('===== Network error =====');
                        }

                        return res.json();
                    })
                    .then(data => {
                        if (data.exists) {
                            // event.preventDefault();
                            document.getElementById('messageNickname').textContent = "* 선택하신 id로 닉네임을 설정할 수 없습니다. 닉네임을 새로 설정해주세요.";
                            document.getElementById('messageNickname').style.color = 'red';
                            document.getElementById('messageNickname').style.fontSize = 'small';
                            document.getElementById('messageNickname').removeAttribute("hidden");

                            nicknameValid = false;
                        } else {
                            nicknameValid = true;
                        }

                        updateSignupButtonState();
                    })
                    .catch(error => console.error('Error:', error));
            } else {
                document.getElementById('messageNickname').setAttribute("hidden", "");
            }

            if(regexPw.test(password) && regexEmail.test(email) && regexDob.test(dateOfBirth) && regexPhone.test(phone) && idValid && nicknameValid){
                checkIfUserAlrExists(email, phone);
            }

            // 전화번호나 이메일을 재사용하여 가입하는 경우 막기
            function checkIfUserAlrExists(email, phone) {
                fetch(`/member/checkuser?email=${encodeURIComponent(email)}&phone=${encodeURIComponent(phone)}`)
                    .then(res => {
                        if (!res.ok) {
                            throw new Error('===== Network error =====');
                        }

                        return res.json();
                    })
                    .then(data => {
                        if (data.emailExists || data.phoneExists) {
                            alert("이미 가입한 사용자입니다.");
                            window.location.href = '/auth/login';
                        } else {
                            document.getElementById('signupForm').submit();
                        }
                    })
                    .catch(error => {
                        console.error('Error:', error);
                        alert("서버와의 통신 중 오류가 발생했습니다.");
                    });
            }
        });
    </script>

</body>
</html>
